*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  direction: rtl;
  font-family: 'vazir' !important;
}

.line{
  text-decoration: line-through;
}

.error{
  color: red;
}
